/* 

body {
    font-family: Arial, sans-serif;
    background-color: lightskyblue;
    color: darkslateblue;
}

header {
    background-color: darkslateblue;
    color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    color: darkslateblue;
}

 */

#wrapper {
    width: 1000px;
    margin: 15px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    color: darkblue;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 0.375rem;
}

#menu, #events, #create, #details{
    /* //margin: 20px; */
    padding: 20px;
    background-color: floralwhite;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

#content {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: Arial, sans-serif;
    /* margin: 0px;
    margin-left: auto;
    margin-right: auto; */
    padding: 0px;
    background-color: rgb(0, 8, 255);
}

header {
    background-color: #333;
    color: #00f2ff;
    padding: 10px;
    text-align: center;
	min-height: 10vh;
     /* border: 4px solid black; */
    /* border-radius: 5px; */
    border-top-left-radius: 0.2485rem;
    border-top-right-radius: 0.2485rem;
}

nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ff0000;
	font-size: 1.1em;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease;
	padding: 10px;
}

nav a:hover {
	background: #ee00ff;
    border-color: #000000;
    border: 1px solid #fff;
    border-radius: 0.375rem;
    color: black;
}

section {
    padding: 20px;
	min-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    border: 3px solid black;
    border-radius: 0.375rem;
    
}
p{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

ul {
    list-style-type: none;
    margin: 0.5rem;
    padding: 0.5rem;
}
li {
    padding: 0.25rem;
    margin: 0.25rem;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    
    text-align: center;
	min-height: 10vh;
    border-bottom-left-radius: 0.2485rem;
    border-bottom-right-radius: 0.2485rem;
}
footer p{
    text-align: center;
}

footer a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
	padding: 10px;
	border-radius: 0.375rem;
}

footer a:hover {
	color: #61bb8e;
	background-color: rgba(0, 0, 0, 0.5);
}
footer > p{
    font-size: .7rem;
}



#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}



